<%= render "helpers/navbarForms" %>

<div class="formShelter">
   <%= form_for @shelter do |f| %>

	<h2>Update your shelter information:</h2>
	<br />
	<div class="formShelterName">
		<%= f.label :name %>
		<%= f.text_field :name %>
	</div> <br />
	<h3>Logo</h3>
		<%= f.file_field :avatar %>
		<br />

	<%= f.label :address %>
	<%= f.text_field :address %>
	<br />
	<%= f.label :city %>
	<%= f.text_field :city %>
	<br />
	<%= f.label :providence %>
	<%= f.text_field :providence %>
	<br />
	<%= f.label :postal_code %>
	<%= f.text_field :postal_code %>
	<br /><br />

	<%= f.label :phone %>
	<%= f.text_field :phone %>
	<br /><br />

	<%= f.label :website %>
	<%= f.text_field :website %>
	<br /><br />

	<%= f.label :email %>
	<%= f.text_field :email %>
	<br /><br />

	<%= f.label :hours %>
	<%= f.text_field :hours %>
	<br /><br />

	<%= f.label :volunteers %>
				<br />
					<%= f.radio_button(:volunteers, "Yes") %>
					<label for="volunteers male">Yes</label>

					<%= f.radio_button(:volunteers, "No") %>
					<label for="volunteers female">No</label>
		<br /><br />


	<%= f.submit "Update" %>

	<% end %>
	<br /><br />
	<%= link_to("<< Back to List", action: 'index') %>
</div>