<%= render "helpers/navbarForms" %>

<div class="shelterNew formShelter">
	<h2>Current List of Shelters</h2>

  <table class="listings" summary="list of shelters">
    <tr class="shelterTableHeader">
      
      <th>Logo</th>
      <th>Name</th>
      <th>Street Address</th>
      <th>City</th>
      <th>Province</th>
      <th>Postal Code</th>
      <th>Phone</th>
      <th>Website</th>
      <th>Email</th>
      <th>Hours of Operation</th>

    </tr>
    <% @shelters.each do |shelter| %>
      <tr>
        <td><%= image_tag shelter.avatar.url :thumb %></td>
        <td><%= shelter.name %></td>
        <td><%= shelter.address %></td>
        <td><%= shelter.city %></td>
        <td><%= shelter.province %></td>
        <td><%= shelter.postal_code %></td>
        <td><%= shelter.phone %></td>
        <td><%= shelter.website %></td>
        <td><%= shelter.email %></td>
        <td><%= shelter.hours %></td>
      </tr>
    <% end %>
  </table>
    <br />
  <p>If your shelter does not appear on the list, please create a login to add your shelter to our community.</p><%= link_to("Click here to create your shelter's login.", controller: 'admin_users', action: 'new', class: 'action new') %> | <%= link_to( "Already a memeber?  Login here.", controller: 'access', action: 'login') %>
</div>


