<%= render "helpers/navbarForms" %>

<% if !flash[:notice].blank? %>
  <div class="shelterFLashNotice">
    <%=flash[:notice] %>
  </div>
<% end %>

<div class="shelterNew formShelter">
	<h2>List of Shelters</h2>

<%= link_to("Add Your Shelter to the Site", action: 'new', class: 'action new') %>

  <table class="listings" summary="list of shelters">
    <tr class="shelterTableHeader">
      
      <th>Logo</th>
      <th>Name</th>
      <th>Street Address</th>
      <th>City</th>
      <th>Providence</th>
      <th>Postal Code</th>
      <th>Phone</th>
      <th>Website</th>
      <th>Email</th>
      <th>Hours of Operation</th>
      <th>View Details</th>

    </tr>
    <% @shelters.each do |shelter| %>
      <tr>
        <td><%= image_tag shelter.avatar.url :thumb %></td>
        <td><%= shelter.name %></td>
        <td><%= shelter.address %></td>
        <td><%= shelter.city %></td>
        <td><%= shelter.providence %></td>
        <td><%= shelter.postal_code %></td>
        <td><%= shelter.phone %></td>
        <td><%= shelter.website %></td>
        <td><%= shelter.email %></td>
        <td><%= shelter.hours %></td>
        <td>
          <%= link_to("View Details", action: 'show', id: shelter.id, class: 'action show') %>
          

        </td>
      </tr>
    <% end %>
  </table>
</div>


