<%= render "helpers/navbarForms" %>

<div class="dogForm">
	<%= form_for [@shelter, @dog] do |f| %>

	<h2>Add your dog here:</h2>
	<br />
	<div class="formDogName">
		<%= f.label :name %>
		<%= f.text_field :name %>
	</div> <br />

	<%= f.label :breed %>
	<%= render "helpers/breedSelect" %>
	<br /><br />
	<%= f.label :gender %>
				<br />
					<%= f.radio_button(:gender, "Male") %>
					<label for="gender male">Male</label>

					<%= f.radio_button(:gender, "Female") %>
					<label for="gender female">Female</label>
		<br /><br />
	<%= f.label :age %>
	<%= f.select :age, [['Puppy', 'Puppy'], ['Young', 'Young'], ['Adult', 'Adult'], ['Senior', 'Senior']]%>
		<br /><br />
	<%= f.label :size %>
	<%= f.select :size, [['Small', 'Small'], ['Medium', 'Medium'], ['Large', 'Large'], ['Extra-Large', 'Extra-large']]%> <br />

	<h3>Good with: </h3>	
		<ul>
			<li class="formListItems">
				<%= f.label :people %>
				<br />
					<%= f.radio_button(:people, "Yes", ) %>
					<label for="people friendly">Yes</label>
					<%= f.radio_button(:people, "No", ) %>
					<label for="people friendly">No</label>
			</li>
			<li class="formListItems">
				<%= f.label :kids %>
				<br />
					<%= f.radio_button(:kids, "Yes", ) %>
					<label for="kid friendly">Yes</label>
					<%= f.radio_button(:kids, "No") %>
					<label for="kid friendly">No</label>
			</li>
			<li class="formListItems">
				<%= f.label :other_dogs %>
				<br />
					<%= f.radio_button(:other_dogs, "Yes", ) %>
					<label for="other_dogs friendly">Yes</label>
					<%= f.radio_button(:other_dogs, "No") %>
					<label for="other_dogs friendly">No</label>
			</li>
		</ul>
	<h3>Image file</h3>
		<%= f.file_field :avatar %>
		<br />
	<%= f.submit "Create" %>

	<% end %>
	<br /><br />
	<%= link_to("<< Back to List", action: 'index') %>
</div>
