<%= render "helpers/navbarForms" %>

<% if !flash[:notice].blank? %>
  <div class="dogFLashNotice">
    <%=flash[:notice] %>
  </div>

<div class="dogShow">
  <h2>Dog Details View</h2>

  <table class="listings" summary="Dog detail view">
  
    <tr>
      <%= f.label :avatar %>
      <td><%= @dog.avatar %></td>
    </tr>
    <tr>
      <%= f.label :name %>
      <td><%= @dog.name %></td>
    </tr>
    <tr>
      <%= f.label :breed %>
      <td><%= @dog.breed %></td>
    </tr>
    <tr>
      <%= f.label :gender %>
      <td><%= @dog.gender %></td>
    </tr>
    <tr>
      <%= f.label :size %>
      <td><%= @dog.size %></td>
    </tr>
    <tr>
      <%= f.label :age %>
      <td><%= @dog.age %></td>
    </tr>
    <tr>
      <%= f.label :people %>
      <td><%= @dog.people %></td>
    </tr>
    <tr>
      <%= f.label :kids %>
      <td><%= @dog.kids %></td>
    </tr>
    <tr>
      <%= f.label :other_dogs %>
      <td><%= @dog.other_dogs %></td>
    </tr>
    <tr>
      <th>Created</th>
      <td><%= @dog.created_at %></td>
    </tr>
    <tr>
      <th>Updated</th>
      <td><%= @dog.updated_at %></td>
    </tr>
  </table>
    <br /><br />

<%= link_to("<< Back to List", {action: 'index'}, class: 'back-link') %>

</div>