<%= render "helpers/navbarForms" %>
	
<div class="createLoginForm"> 
  <h2>Admin Users Information</h2>

  <table class="loginTable">
    <tr>
      <th>Username</th>
      <th>Name</th>
      <th>Email</th>
      <th>Actions</th>
    </tr>
    <% @admin_users.each do |admin_user| %>
      <td><%= admin_user.username %></td>
      <td><%= admin_user.name %></td>
      <td><%= mail_to(admin_user.email) %></td>
      <td class="actions">
        <%= link_to('Edit', {:action => 'edit', :id => admin_user.id}, :class => 'action edit') %><br />

      </td>
    </tr>
    <% end %>
  </table>

</div>

